<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/include.css">
    <link rel="stylesheet" href="/styles/input-form.css">
</head>
<body>
<div id="app">
    <div class="holder headline">
        Travel Planner
    </div>
    <div class="tripdata" id="response">
        <div class="title">Your trip information</div>
        <div id="entryHolder">
            <div id="city"></div>
            <div id="date"></div>
            <div id="duration"></div>
            <div id="temp"></div>
            <div id="ttt"></div>
            <div id="content"></div>
        </div>
        <div id="photoHolder">
            <div id="image"><img id="imgURL" src=""> </div>
        </div>
    </div>
    <div class=" holder input-form">
        <div class="holder location">
            <label for="location">Enter the location of your trip</label>
            <input type="text" id="location" placeholder="Enter the location">
        </div>
        <div class="holder start-date">
            <label for="start-date">Enter the start date of your trip</label>
            <input type="date" id="start-date" placeholder="Enter the start date">
        </div>
        <div class="holder end-date">
            <label for="end-date">Enter the end date of your trip</label>
            <input type="date" id="end-date" placeholder="Enter the end date">
        </div>
    </div>
    <div class="holder feel">
        <button id="generate" type="submit"> Generate</button>
    </div>

</div>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>